*{
background-color: rgb(145, 238, 226);
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    text-align: center;
}

button {
    margin: 5px;
}