.task-form form {
    display: flex;
    flex-direction: column;
    
}

.task-form input,
.task-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid black;
}

.task-form button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid black;
}
.task-form button:hover{
    background-color: rgb(208, 244, 244);
}